<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MacGuarder.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>SuperUnlocker.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>828D0D4E1ABDAA96002BEFC9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>828D0D671ABDAA96002BEFC9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>82A6AFD81AC5C8B700EC00C7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>82A6AFED1AC5C8B700EC00C7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
